<!DOCTYPE html>
<html lang="en">
<head>
      <%-include('../partials/head')%>
</head>
<body>
      <%-include('../partials/nav')%>
      <%-include('../partials/header')%>
    <main>
        <br><hr><br>
        <div class="recuadro">
            <p class="titulo">¿Quiénes somos?</p>
        </div>
    </main>
        
    <div class="recuadro2">
            <p class="titulo2">Con 130m2 de espacio, y localizada en la Calle Haedo 1131, nos posicionamos como la única tienda especialista en padel en la ciudad de Córdoba.</p>
            <p class="titulo2">Se trata de la cara visible de nuestra empresa, donde los recibiremos de la mejor manera posible y estaremos encantados de resolver las dudas sobre todo lo relacionado con este deporte. Nuestra tienda de pádel, cuenta con todo el material necesario para practicar este deporte.</p>
            <p class="titulo2">El área más llamativa de la tienda es nuestra sección de palas de padel. En este panel exponemos alrededor de 90 modelos diferentes de raquetas de marcas como Bullpadel, Paddle Coach, Star Vie, Adidas, Babolat, Nox, Vibora, Varlion, entre otras… Tras más de 20 años de experiencia directa en fábricas de palas, nuestro personal de atención al público les informará del proceso de fabricación, características y diferencias entre una pala u otra.</p>
    </div>

</body>
<%-include('../partials/footer')%>
</html>