<div class="Ubicacion">
    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6809.446557542725!2d-64.21606267341681!3d-31.421749391378423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a3c66d65eb47%3A0xd8d3000db83300b5!2s6-0%206-0%20Padel%20Club!5e0!3m2!1ses!2sar!4v1639352483832!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>