<footer class="Pie Padre">
    <div>
      <h1 class="TextoPie Hijo">Seguinos en nuestras redes sociales...</h1>
    </div>
    <div>
      <a href="http://www.beelup.com" target="_blank"><img src="/images/Youtube.svg" class="FB" alt="Youtube"></a>          
      <a href="https://api.whatsapp.com/send?phone=+5493515481908&text=Hola%2C+me+gustaría+obtener+información+sobre+este+producto"  target="_blank"><img src="/images/Whatsapp.svg" class="FB" alt="Whatsapp"></a>      
      <a href="https://www.instagram.com/6060club/" target="_blank"><img src="/images/Facebook.svg" class="FB" alt="Facebook"></a>          
      <a href="https://instagram.com/6060club?utm_medium=copy_link" target="_blank"><img src="/images/Instagram.svg" class="IG" alt="Instagram"></a>
    </div>
  </footer>